:root{
    --fuente:DIN1451W01-Engschrift, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    --azul:#2A547B;
    --gris:#DEDCD3;
    --blanco:#FCFCFC;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: var(--fuente);
    font-size: 1.6rem;
    line-height: 2;
}

/*Constantes*/
.contenedor {
    width: min(90%, 160rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}
p {
    text-align: center; 
    margin:0 6rem;
  }

/** Utilidades **/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}
.titulo{
    color: var(--blanco);
    font-size: 3.5rem;
    font-weight: normal;
    margin: 0;
} 
.btn{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
} 

.boton{
    font-family: DIN1451W01-Engschrift, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 0.06em;
    color: rgb(42, 84, 123);
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer;
    transition-property: background, color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    padding: 1rem 2rem;
    background: padding-box rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(241, 109, 42);
    border-image: initial;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;

    }
}
.boton:hover {
    cursor: pointer;
    background-color: rgb(241, 109, 42);
    color: white;
}


/*Portada*/
.portada{
    background-image: url("../img/portada2.jpg");
    height: 45rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header_texto{
    text-align: center;
    font-size: 5rem;
    color: black;
    margin-top: 5rem;
}


/*Barra navegacion*/
.header{
    background-color: #46B3E3;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo{
    font-size: 2rem;
    color: black;
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;/*uno frente al otro*/
        gap: 2rem;
    }
}
.navegacion__enlace {
    display: block;/*Uno debajo del otro*/
    text-align: center;
    font-size: 1.8rem;
    color: black;
}


/*Contenido*/

.seccion1{
    background-color:var(--azul) ;
}

.seccion1_texto{
    color: var(--blanco);
    font-family: DIN1451W01-Engschrift, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 0.06em;
    text-align: center;     
}

.seccion2{
    background-color:var(--gris) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor2{
    font-size: 1.8rem;
}

.seccion4{
    background-color:var(--azul) ;
}

.seccion4_texto{
    color: var(--blanco);
    font-family: DIN1451W01-Engschrift, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 0.06em;
    text-align: center;
}


@media (min-width: 768px) {
    
    .contenedor2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .seccion1_texto{
        height: 18rem;
    }

    .seccion4_texto{
        height: 17rem;
    }
}


/*Servicios*/

.servicios{
    margin-top: 2rem;
}
.servicio{
    margin-bottom: 2rem;
}
.servicio_texto{
    text-align: left;
    margin: 0;
}

@media (min-width: 768px) {

    .servicios{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        column-gap: 4rem;
        margin-top: 5rem;
    }

    .servicio{
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 1rem;
    }

    .contenido_servicio{
        display: flex;
        flex-direction: column;
        justify-content: center;/*verticalmente*/
    }

    .servicio_texto{
        text-align:left;
        margin-left: 1.5rem;
    }

    .imagen_servicio{
        margin: auto;
        margin-top: 1.5rem;  
        margin-bottom: 1.5rem; 
        width: 150px;   
    }
    .entradas{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
    }
}

.imagen_servicio{
    width: 100%;
    margin-top: 1.5rem;  
    margin-bottom: 1.5rem;
}

.imagen_link{
    opacity: 0.5;
    width:  100%;
    height: 100%;
}

.container {
    position: relative;
    width: 100%;
}

.middle {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


  

/*Restaurante*/
.portada_Restaurante{
    background-image: url(../img/Restaurante.jpg);
    height: 45rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.seccion_restaurante2{
    background-color:var(--gris);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo_seccion{
    text-align: center;
    margin: 1rem 1rem;
}

@media (min-width: 768px) {
    .restaurante{
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 1rem;
    }
    .restaurantes{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        column-gap: 4rem;
        margin-top: 5rem;
    }
    .imagen_r{
        margin: auto;
        margin-top: 1.5rem;  
        margin-bottom: 1.5rem; 
        width: 150px;   
    }
}

.imagen_r{
    width: 100%;
    margin-top: 1.5rem;  
    margin-bottom: 1.5rem;
}
.restaurante_informacion{
    text-align: left;
    margin: 0rem 1rem ;
}



/* Atracciones */

.portada_Atracciones{
    background-image: url("../img/portada_atracciones.jpg");
    height: 45rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.seccion2_Atraccion{
    background-color:var(--gris) ;
}
.seccion2_textoAtra{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 5rem;
}
.boton-atraccion{
    padding-top: 2rem;
}

.atracciones{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.info_atraccion{
    text-align: left;
    margin: 0rem 1rem ;
}

@media (min-width: 768px) {
    .atracciones{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 4rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .atraccion{
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 1rem;
    }
    .imagen_atraccion{
        margin: auto;
        margin-top: 1.5rem;  
        margin-bottom: 1.5rem; 
        width: 150px;   
    }
}
.imagen_atraccion{
    width: 100%;
    margin-top: 1.5rem;  
    margin-bottom: 1.5rem;
}